@use "../../scss";

.score {
  @include scss.flex(row, space-between, center, wrap);
  color: scss.$tertiary;
}

.question-category {
  overflow-wrap: break-word;
  margin: 2rem 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: scss.$secondary;
  letter-spacing: 3px;
}

.question {
  font-size: 1.1rem;
}

.answers {
  margin: 3rem 0;
}

.answer-btn {
  display: block;
  width: 100%;
  margin: 1rem auto;
  box-shadow: scss.$shadow;
}

.answer-result {
  margin: 2rem 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: scss.$tertiary;
}

.loader {
  margin: 2rem auto;
}

.error {
  font-size: 1.4rem;
  color: scss.$tertiary;
  font-weight: bold;
}

.play-again-btn {
  animation: color-change 2s infinite;
}

@keyframes color-change {
  0% {
    background-color: scss.$secondary;
  }

  50% {
    background-color: scss.$tertiary;
  }

  100% {
    background-color: scss.$secondary;
  }
}
