@use "./scss";

.main-content {
  background-color: scss.$primary;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 8px;
  line-height: 1.7rem;
  text-align: center;
  box-shadow: scss.$shadow;
}
