@use "./scss";
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: calc(15px + 0.390625vw);
  font-family: "Lora", serif;
}

body {
  background-color: scss.$background;
  color: scss.$font-primary;
}
